.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px var(--shadow);
    max-width: 90%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.popup i {
    font-size: 60px;
    padding-bottom: 10px;
}

.popup__overlay {
    position: fixed;
    inset: 0;
    background-color: var(--overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
